<div class="seccion-busqueda">


  <div class="form-group input-entrada">

    <select class="form-select selectbusqueda" name="elegir" id="seleccionLinea" (change)="mostrarLinea() ">
      <option value="placa">Búsqueda por Placa</option>
      <option value="vin"> Búsqueda por Vin</option>
      <option value="referencia">Búsqueda por Ref</option>
      <option value="linea">Búsqueda por Linea</option>
    </select>

    <input type="text" id="busqueda" name="busqueda" class="form-control input-busqueda" >
  <button (click)="capturarDatos()" class=" btn btn-primary button-search" id="btn-search">Buscar</button>
  


  </div>
  <br>
  <div id="seccionlinea" class="container linea">
    <div class="form-group">

      <select class=" mb-3 select-linea" name="marca" id="">
        <label>Marca*</label>
        <option value="marca" >Marca</option>
        <option value="ssy">SSANYONG</option>
      </select>

      <select class=" mb-3 select-linea" id="modelo" (change)="obtenerFamilia()" value= ''  >
        <option value="marca" >Modelos</option>
        <option  id="model"  *ngFor="let annoModelo of anosModelo" [value]= annoModelo> {{annoModelo}} </option>

      </select>



    </div>
    <div class="form-group">


      <select class="select-linea" id="familia" name="dia" (change)="obtenerIdFamilia()" value= ''>
        <option>Familia</option>
        <option  id="familia" *ngFor="let familias of familia"> {{familias}} </option>

      </select>
      <select class="select-linea mb-3" id="caja" (change)="obtenerCajaCambios()" value= ''  >
        <option>Caja de cambios</option>
        <option id="caja" *ngFor="let cajas of caja"> {{cajas}} </option>
      </select>

    </div>


    <div class="form-group">

      <select class="mb-3 select-linea" name="combustible" id="" >
        <option>Combustible</option>
        <option id="combustible" *ngFor="let idcajas of valuecaja"> {{idcajas}} </option>
      </select>
      <select class="mb-3 select-linea" name="marca" id="">
        <option value="marca">Linea</option>
      </select>
    </div>
    <button class="btn-linea">Aceptar</button>

  </div>



</div>

<div class="productos-destacados">

  <h4>Repuestos  <b class="title_seccion2">OEM</b> </h4>



</div>
<br>
<div class="container">
  <div class="row">

    <div class="col-sm">
      <div class="card" style="width: 18rem;" *ngFor="let pais of vin">
        
        <div class="card-body">
          <h5 class="card-title">Carro</h5>
          <p class="card-text">{{pais}}</p>
          <a href="#" class="btn btn-promocion">VER MÁS</a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;" *ngFor="let pais of placa">
        
        <div class="card-body">
          <h5 class="card-title">Carro</h5>
          <p class="card-text">{{pais}}</p>
          <a href="#" class="btn btn-promocion">VER MÁS</a>
        </div>
      </div>
    </div>
    
  
    
  </div>




   <!-- <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="card" style="width: 18rem;" *ngFor="let pais of vin">
      <img class="card-img-top" src="" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{pais}}</h5>
        <p class="card-text">f</p>
        <a href="#" class="btn btn-promocion">VER MÁS</a>
      </div>
    </div>
  </div> - -->

</div>