<div class="seccion-busqueda">


 <div class="form-group input-entrada">

    <select name="elegir" id="eleccion" class="form-select selectbusqueda">
        <option>Búsqueda por Placa</option>
        <option> Búsqueda por Vin</option>
        <option>Búsqueda por Ref</option>
        <option>Búsqueda por Linea</option>
    </select>
    
    <input type=" " class="form-control input-busqueda">
    <a href="" type="button" class=" btn btn-primary button-search">Buscar</a>
    
    <button pButton>Holaa</button>
    
 </div>



</div>
<div class="productos-destacados">

    <h4>Repuestos en <b class="title_seccion2">Promoción</b> </h4>

    <!--formulario de agendamiento-->

   <div class="modal fade modal-agendamiento" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
     <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Agenda tu mantenimiento</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
         <br>
         <br>
      <div class="modal-body modal-bodyagendamiento mb-3"> 
        <input class="form-control mb-3" type="text" placeholder="Nombre completo">
        <input class="form-control mb-3"type="text" placeholder="Email">
        <input class="form-control mb-3" type="text" placeholder="Celular">
        <input class="form-control mb-3" type="text" placeholder="Placa">
      </div>
     
      
        <button type="button" class="btn btn-primary btn-agendamiento">Enviar</button>
      
    </div>
   </div>
 </div>


  <!--formulario de Login-->
 <div class="modal fade modal-login" id="login" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h1 class="title_modalogin text-center" >Bienvenido a nuestra tienda virtual</h1>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
        
        
     <div class="modal-body modal-bodylogin mb-2"> 
       <input class="form-control input-login mb-2" type="text" placeholder="Nombre completo">
       <input class="form-control input-login mb-2"type="text" placeholder="Contraseña">
       
     </div>
    
     
       <button type="button" class="btn btn-primary btn-agendamiento">Iniciar Sesion</button>
       <a href="home.component.html"  class="text-center mb-3">¿olvidaste la contraseña?</a>
       <p class="text-center mb-3"> ¿Aún no tienes cuenta?</p>
       <button type="button" class="btn btn-primary btn-registro">Crear una cuenta</button>
   </div>
  </div>
</div>

</div>
<br>
<div class="container">
    <div class="row">

        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/img/bujia.jpg" class="card-img-top img-accesorio" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Bujía</h5>
                  <p class="card-text"></p>
                  <a href="#" class="btn btn-promocion">VER MÁS</a>
                </div>
              </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/img/bujia.jpg" class="card-img-top img-accesorio" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Bujía</h5>
                  <p class="card-text"></p>
                  <a href="#" class="btn btn-promocion">VER MÁS</a>
                </div>
              </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/img/bujia.jpg" class="card-img-top img-accesorio" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Bujía</h5>
                  <p class="card-text"></p>
                  <a href="#" class="btn btn-promocion">VER MÁS</a>
                </div>
              </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/img/bujia.jpg" class="card-img-top img-accesorio" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Bujía</h5>
                  <p class="card-text"></p>
                  <a href="#" class="btn btn-promocion">VER MÁS</a>
                </div>
              </div>
        </div>
    </div>
   

    
</div>
