<nav class="navbar menu navbar-expand-lg menu">
    <div class="container-fluid">
      <a class="navbar-brand" href="home"><img src="../../../../assets/img/logokgm_tiendapais.webp" class="logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item item">
            <a class="nav-link active item" aria-current="page" href="#">Cómo comprar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link agenda  item" data-bs-toggle="modal" data-bs-target="#login" aria-disabled="true">Inicia sesión</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link agenda item" data-bs-toggle="modal" data-bs-target="#exampleModal" aria-disabled="true">Agenda tu mantenimiento</a>

          </li>
        </ul>
        <form class="d-flex" >
          <img src="../../../../assets/img/carritodecompras.webp" >
        </form>
      </div>
    </div>
  </nav>
<!--formulario de agendamiento-->

<div class="modal fade modal-agendamiento" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="exampleModalLabel">Agenda tu mantenimiento</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <br>
    <br>
    <div class="modal-body modal-bodyagendamiento mb-3">
      <input class="form-control mb-3" type="text" placeholder="Nombre completo">
      <input class="form-control mb-3" type="text" placeholder="Email">
      <input class="form-control mb-3" type="text" placeholder="Celular">
      <input class="form-control mb-3" type="text" placeholder="Placa">
    </div>


    <button type="button" class="btn btn-primary btn-agendamiento">Enviar</button>

  </div>
</div>
</div>


<!--formulario de Login-->
<div class="modal fade modal-login" id="login" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="title_modalogin text-center">Bienvenido a nuestra tienda virtual</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>


    <div class="modal-body modal-bodylogin mb-2">
      <input class="form-control input-login mb-2" type="text" placeholder="Nombre completo">
      <input class="form-control input-login mb-2" type="text" placeholder="Contraseña">

    </div>


    <button type="button" class="btn btn-primary btn-agendamiento">Iniciar Sesion</button>
    <a href="home.component.html" class="text-center mb-3">¿olvidaste la contraseña?</a>
    <p class="text-center mb-3"> ¿Aún no tienes cuenta?</p>
    <button type="button" class="btn btn-primary btn-registro">Crear una cuenta</button>
  </div>
</div>
</div>