<nav class="navbar menu navbar-expand-lg menu">
    <div class="container-fluid">
      <a class="navbar-brand" href="home"><img src="../../../../assets/img/logokgm_tiendapais.webp" class="logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item item">
            <a class="nav-link active item" aria-current="page" href="#">Cómo comprar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link agenda  item" data-bs-toggle="modal" data-bs-target="#login" aria-disabled="true">Inicia sesión</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link agenda item" data-bs-toggle="modal" data-bs-target="#exampleModal" aria-disabled="true">Agenda tu mantenimiento</a>

          </li>
        </ul>
        <form class="d-flex" >
          <img src="../../../../assets/img/carritodecompras.webp" >
        </form>
      </div>
    </div>
  </nav>
