<footer>

    <div class="row">
        <div class="col-sm"><h4>KGM COLOMBIA</h4>
       
        <img  class="sistemaverde" src="../../../../assets/img/sistema_verde@100x.webp" alt="">
        </div>
        <div class="col-sm"><h4>PRIVACIDAD</h4>
          <ul class="text-center" style="margin-left:120px;">
          
           <li>
            <a href="https://cdnprocessoft.s3.amazonaws.com/SITIOS/xGJ4XukfAJKAPdHEBn0PZd87ZD0tRng595yu2SHQgDM/T%C3%89RMINOS%20Y%20CONDICIONES%20DE%20USO%20TIENDA%20VIRTUAL.pdf" target="_blank">   Condiciones de tienda virtual</a>
           </li>
           <li>
           <a href="https://cdnprocessoft.s3.amazonaws.com/SITIOS/xGJ4XukfAJKAPdHEBn0PZd87ZD0tRng595yu2SHQgDM/files/AVISO%20DE%20PRIVACIDAD.pdf" target="_blank">Aviso de privacidad   </a>
          </li>
           <li>
            <a href="https://cdnprocessoft.s3.amazonaws.com/SITIOS/xGJ4XukfAJKAPdHEBn0PZd87ZD0tRng595yu2SHQgDM/files/PTDP%20-%20SSANGYONG%20MOTOR%20COLOMBIA.pdf" target="_blank">Política de tratamientos datos   </a>
       
            
           </li>
           <li>
            Política de cookies
           </li>
           <li>
            Ley de restructuración
           </li>

        </ul></div>
        <div class="col-sm"><h4>KGM SOCIAL</h4> 
          <img class="rs" src="../../../../assets/img/facebook-negro.png" alt="logo">
          <img  class="rs" src="../../../../assets/img/instagram-negro.png" alt="">
          <img  class="rs" src="../../../../assets/img/youtube-negro.png" alt="">
        </div>
      </div>
    

</footer>
