<footer>

    <div class="row">
        <div class="col-sm"><h4>KGM COLOMBIA</h4>
        <img class="logo" src="../../../../assets/img/logos_sellosnew.webp" alt="logo">
        <img  class="sistemaverde" src="../../../../assets/img/sistema_verde@100x.webp" alt="">
        </div>
        <div class="col-sm"><h4>PRIVACIDAD</h4><ul>
           <li>
            Condiciones de tienda virtual

           </li>
           <li>Aviso de privacidad</li>
             
           <li>
            Política de tratamientos datos
           </li>
           <li>
            Política de cookies
           </li>
           <li>
            Ley de restructuración
           </li>

        </ul></div>
        <div class="col-sm"><h4>KGM SOCIAL</h4> 
          <img class="rs" src="../../../../assets/img/facebook-negro.png" alt="logo">
          <img  class="rs" src="../../../../assets/img/instagram-negro.png" alt="">
          <img  class="rs" src="../../../../assets/img/youtube-negro.png" alt="">
        </div>
      </div>
    

</footer>
